version: '3.9'

services:
  postgres:
    image: postgres:16-alpine
    container_name: planner_postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - '${DB_PORT}:5432'
    volumes:
      - planner_pgdata:/var/lib/postgresql/data

volumes:
  planner_pgdata:
